PORT=xxxxx
JWT_SECRET=xxxxx
NODE_ENV=xxxxxx

# MySQL Database Configuration (Aiven Live DB)
MYSQL_HOST=xxxxxxx
MYSQL_USER=xxxxxxx
MYSQL_PASSWORD=xxxxxxx
MYSQL_DATABASE=xxxxxxx
MYSQL_SSL=xxxxxxx

# EmailJS Service Keys (Direct Live Email Delivery)
EMAILJS_SERVICE_ID=xxxxxxx
EMAILJS_TEMPLATE_ID=xxxxxxx
EMAILJS_PUBLIC_KEY=xxxxxxx